html{
  margin: 0;
  padding: 0;
}

.tile{
  border: 2px dotted black;
}

#section-1{
  width: 600px; height: 230px;
  position: absolute;
  left: 0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  top:190px
}

#nav-bar, #section-1{
  margin: auto;
}

.center-in-section-1{
  position: absolute;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
}

#search-box-container{
  width: 500px;
  border-radius: 0;
  margin-top: 110px;
  height: 30px;
  padding: 5px;
  box-shadow: 0.5px 0.5px 10px 0 #000

}

#search-box{
  position: absolute;
  left:10px; top:0; bottom:0;
  margin: auto;
  width: 85%; height: 60%;
  border: none;
}

.search-buttons{
  width: 144px; height: 36px;
  bottom: 0;
  padding: 10px;
  background-color: #f2f2f2
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  border: none;
}

#google-search-button{
  right:155px;
}

#feeling-lucky-search-button{
    left:155px;
}

#footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  background-color: #f2f2f2
}

#nav-bar, #footer{
    width: 100%; height: 30px;
}
