

.icon-image{
  width: 30px; height: 30px;
}

#nav-list{
  position: absolute;
  right: 0;
}

#nav-list li{
  margin-right: 15px;
  display:inline-block;
  vertical-align: middle;
}

.nav-list-text-element{
}

#section-1{
  width: 600px; height: 230px;
  position: absolute;
  left: 0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  top:190px
}

#nav-bar, #section-1{
  margin: auto;
}

.center-in-section-1{
  position: absolute;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
}

#search-box-container{
  width: 500px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  margin-top: 110px;
  height: 30px;
  padding: 5px;
  box-shadow: 1px 1px 2px 0 grey;
  -moz-box-shadow: 1px 1px 2px 0 grey;
  -webkit-box-shadow: 1px 1px 2px 0 grey;
}

#search-box{
  position: absolute;
  left:10px; top:0; bottom:0;
  margin: auto;
  width: 85%; height: 60%;
  border: none;
  -moz-border: none;
  -webkit-border: none;
}

#mic-image{
  width: 25px; height: 25px;
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.search-buttons{
  width: 144px; height: 36px;
  bottom: 0;
  padding: 10px;
  background-color: #f2f2f2
  color: grey;
  font-size: 13px;
  border: none;
  border: 1px solid transparent;
}

.search-buttons:hover{
  color: black;
  background-color: #f2f2f2;
  border: 1px solid rgb(198,198,198);
}

#google-search-button{
  right:155px;
}

#feeling-lucky-search-button{
    left:155px;
}

#footer{
  position: fixed;
  bottom: 0;
  border-top: 1px solid rgb(242,242,242);
  -moz-border-top: 1px solid rgb(242,242,242);
  -webkit-border-top: 1px solid rgb(242,242,242);
  min-width: 556px;
}

#nav-bar, #footer{
  width: 99%; height: 50px;
  left: 0;
  right: 0;
}

#footer-list-left{
  position: absolute;
  left: -10px;
}

li{
  display: inline;
  font-size: 13px;
  color: rgb(102,102,102);
}

li:hover{
  text-decoration: underline;
}

#footer li{
  margin-right: 17px;
}

#footer-list-right{
  position:absolute;
  right: 0;
}

a{
  text-decoration: none;
}
