#page-number-inner-container{
  width:586px; height: 100px;
  margin-left: 150px;
}

#page-numer-table{
  margin: auto;
  margin-top: 5px;
  border-spacing: 0;
}

#page-numer-table td{
}

#page-number-img-g{
    width: 32px; height: 32px;
    padding-top: 10px;
}

.page-number-img-o{
  width: 17px; height: 17px;
  padding-top: 20px;
}

#page-number-img-gle{
    width: 48px; height: 32px;
    padding-top: 19px;
}

#page-number-blue-arrow{
    width: 7px; height: 15px;
    padding-top: 13px;
    padding-left: 10px;
}

#page-numer-table p{
  text-align: center;
  padding: 0;
  margin: 0;
  color: rgb(66,133,244);
}

#page-numer-table p:hover{
  text-decoration: underline;
}
