#search-results-inner-container{
  width: 586px;
  margin-left: 150px;
}

#result-count{
  margin-bottom: 25px;
}

.result-holder{
  margin-bottom: 26px;
}

.result-header{
  font-size: 18px;
  color: rgb(26,13,171);
  font-weight: normal;
  padding: 0;
  margin: 0 0 2px 0;
}

.result-header:visited{
  color: rgb(102,0,153);
}

.result-header:hover{
  text-decoration: underline;
}

.result-link-container{
  display: flex;
}

.result-link-container img{
  width:13px; height:7px;
  margin-top: 4px;
  margin-left: 2px;
}

.result-link{
  color: rgb(0,102,33);
  padding: 0;
  margin: 0;
}

.result-description{
  color: rgb(84,84,84);
  padding: 0;
  margin: 0;
}

#image-table th{
    font-size: 18px;
    text-align: left;
    font-weight: normal;
    padding-bottom: 10px;
}

#image-table th:hover{
    text-decoration: underline;
}

.result-image{
  height:90px; width: 113.5px;
}

#image-options-container{
  width: 100%;
  margin: 0;
}

#image-options-container p{
  margin: 0 0 0 10px;
}

#image-options-container a{
  display: flex;
}

#report-images-link{
  position: relative;
  left: 480px;
  top: -15px;
  color: rgb(119,119,119);
}

#report-images-link:hover{
  color: rgb(34,34,34);
}
